<h2>Completed Tasks</h2>

<div class="task-list">

  {{#if tasks}}

    <ul>
      {{#each tasks}}
        <li><a href="task/{{this._id}}">{{this.text}}</a></li>
      {{/each}}
    </ul>

  {{else}}

    <p>No tasks have been completed</p>

  {{/if}}

</div>

<div>
  {{#if tasks}}
    <form class="delete-done-form" action="/deleteDone" method="POST">
      <input class="delete-done-button" type="submit" name="delete-done" value="Delete completed tasks">
      <input type="hidden" name="_id" value="{{this._id}}">
    </form>
  {{/if}}
</div>
